body{
    background-color: cornflowerblue;
    color: black;
    font-family: "Roboto Mono", monospace;
    height: 150%;
    font-style: normal;
    font-size:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    text-align: center;
}

button{
    background-color: darkseagreen;
    color: black;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
}

.passo{
    display: none;
}

.passo.ativo{
    display: block;
}

img{
    max-width: 38%;
}

main{
    max-width: 90%;
    text-align: center;
}